<h1>Conditions Dashboard</h1>

<div>
  <ul>
    <li>Total Count: <%= Conditions.count %></li>
    <li>Oldest Condition: <%= Conditions.date %></li>
  </ul>
</div>

<a class="btn btn-warning" href="/conditions">
  <i class="glyphicon glyphicon-list"></i>
    View All Conditions</a><br>
