<h1>Conditions</h1>
<a class="btn btn-primary" href="/conditions/new">
    Create a New Condition</a><br>

<a class="btn btn-primary" href="/conditions-dashboard">
    Dashboard</a><br>

<div>
  <ul>
  <% @conditions.each do |condition| %>
      <h2><a href="/conditions/<%= condition.id %>"><%= condition.date %></a></h2>
  <% end %>
</ul>
</div>
