<h1>Create a New Condition</h1>

<form action="/conditions" method="POST">

  <div class="form-group">
    <label>Date:</label>
    <input type="date" name="condition[date]" class="form control"/><br>
  </div>

  <div class="form-group">
    <label>Max Temperature:</label>
    <input type="integer" name="condition[max_temperature]" class="form control" placeholder="Max Temperature"/><br>
  </div>

  <div class="form-group">
    <label>Mean Temperature:</label>
    <input type="integer" name="condition[mean_temperature]" class="form control" placeholder="Max Temperature"/><br>
  </div>

  <div class="form-group">
    <label>Minimum Temperature:</label>
    <input type="integer" name="condition[min_temperature]" class="form control" placeholder="Minimum Temperature"/><br>
  </div>

  <div class="form-group">
    <label>Mean Humidity:</label>
    <input type="integer" name="condition[mean_humidity]" class="form control" placeholder="Mean Humidity"/><br>
  </div>

  <div class="form-group">
    <label>Mean Visibility:</label>
    <input type="integer" name="condition[mean_visibility]" class="form control" placeholder="Mean Visibility"/><br>
  </div>

  <div class="form-group">
    <label>Mean Wind Speed:</label>
    <input type="integer" name="condition[mean_wind_speed]" class="form control" placeholder="Mean Wind Speed"/><br>
  </div>

  <div class="form-group">
    <label>Precipitation:</label>
    <input type="float" name="condition[precipitation]" class="form control" placeholder="Precipitation"/><br>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
