<div class = "container">
    <h2>Stations</h2>
</div>

<div class = "container">
    <div class="btn-group">
        <button type="button" class="btn btn-default"><a href='/stations/new'>Create a New Station</a></button>
        <button type="button" class="btn btn-default"><a href='/stations-dashboard'>Dashboard</a></button>
        <br></br>
    </div>
</div>

<div class = "container">
    <div class="list-group">
        <% @stations.each do |station| %>
            <a href="/stations/<%= station.id %>" class="list-group-item">
            <%= station.name %>, <%= station.city.name %></a>
       <% end %>
    </div>
</div>