<h1>Create a New Station</h1>

<form action="/stations" method="POST">

  <div class="form-group">
    <label>Name:</label>
    <input type="text" name="station[name]" class="form control" placeholder="Name"/><br>
  </div>

  <div class="form-group">
    <label>Dock Count:</label>
    <input type="integer" name="station[dock_count]" class="form control" placeholder="Dock Count"/><br>
  </div>

  <div class="form-group">
    <label>Installation Date:</label>
    <input type="date" name="station[installation_date]" class="form control"/><br>
  </div>

  <div class="form-group">
    <label for="city">City:</label>
    <select class="form-control" id="city" name="city">
      <% @cities.each do |city| %>
        <option><%= city.name %></option>
      <% end %>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
