<h1><%= @station.name %></h1>

<div>
  <ul>
    <li>City: <%= @station.city.name %></li>
    <li>Dock Count: <%= @station.dock_count %></li>
    <li>Installation Date: <%= @station.installation_date %></li>
  </ul>
</div>
